.DS_Store
*.class
.pyc
*.pyc
**.pyc
*~
atmosphere.kpf
nohup.out
cscope.files
cscope.out
*.log
*.out
.*
#*#
logs/*
tests/secrets
tools/eclipse-workspace/rufus/ext/config.yaml
n/service.log
n/service.err
config.yaml
settings.py
resources/machine_images
*.kdev4
